<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="public"/>
    <title>聊天室</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <script type="text/javascript" src="assets/js/socket.io.js"></script>
</head>
<body id="ng-app" ng-controller="mainCtrl">
    <div ui-view="main"></div>
    <script src="assets/js/requirejs/require.js" data-main="common/main.js"></script>
</body>
</html>